<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Users</h1>
<ul>
    <%users_login.forEach(function (item) { %>
   <li><%=item.LOGIN_ID%>________ PASSWORD <%=item.PASSWORD%></li>

    <%  }); %>



</ul>

</body>
</html>